/* 
对布局进行重新调整，
将容器一的左内边距置零，
并将原来左边侧栏通过绝对定位定位到右侧栏；
由于网站主页主要展示内容为各种文章、资源，
故将“留言功能”置于最后，以最小影响读者阅读。
*/
@media screen and (min-width: 1081px) and (max-width: 1200px) {
    #menu {
        width: 930px;
    }

    #serchbox {
        width: 930px;
    }

    #top {
        width: 930px;
    }

    #card {
        width: 100%;
        height: 77.5px;
    }

    #container {
        width: 930px;
        padding-right: 300px;
    }

    /*
    留言板
    #leftside{
        left: initial;
        right: 0;
        width: 300px;
    }

    #messageBoard{
        position: absolute;
        top: 1181px;
    }
    #comment{
        height: 500px;
        padding: 10px 20px;
    }
    #comment .message p{
        width: 100%;
    }
    */
    #center {
        margin-right: 16px;
    }

    #container2 {
        width: 930px;
    }

    .resource {
        width: 33.3%;
        padding: 0 10px 40px 0;
    }
}

@media screen and (max-width: 1080px) {
    body {
        min-width: 996px;
    }

    #menu {
        width: 900px;
    }

    #serchbox {
        width: 900px;
    }

    #top {
        width: 900px;
    }

    #card {
        width: 100%;
        height: 77.5px;
    }

    #container {
        width: 900px;
        padding-right: 300px;
    }

    /*
    留言板
     #leftside{
        left: initial;
        right: 0;
        width: 300px;
    }

    #messageBoard{
        position: absolute;
        top: 1181px;
    }
    #comment{
        height: 500px;
        padding: 10px 20px;
    }
    #comment .message p{
        width: 100%;
    }
    */
    #center {
        margin-right: 16px;
    }

    #container2 {
        width: 900px;
    }

    .resource {
        width: 33.3%;
        padding: 0 10px 30px 0;
    }

    .videoLink p {
        padding: 10px 10px 0 10px;
        font-size: 15px;
    }

    #footer-content {
        width: 900px;
    }

    #introduce {
        width: 450px;
    }

    #popu-content {
        left: 480px;
        width: 200px;
    }

    #contact {
        width: 250px;
    }
}