<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="../image/blog.png" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="../font/aliicon/iconfont.css">
        <link rel="stylesheet" type="text/css" href="../css/learningroad-commons.css">
        <link rel="stylesheet" type="text/css" href="../css/learningroad-different.css">
        <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="../js/learningRoad.js"></script>
        <title>欢迎来到GaoshuCC</title>
    </head>
<body>
    
</body>
</html>