<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" th:href="@{/user/image/note.png}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{/commons/font/aliicon/iconfont.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/myQuestion-commons.css}">
    <link rel="stylesheet" th:href="@{/user/user-editormd/css/editormd.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/commons/css/validation.css}">
    <script type="text/javascript" th:src="@{/commons/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/commons/js/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/commons/js/additional-methods.js}"></script>
    <script type="text/javascript" th:src="@{/commons/js/messages_zh.js}"></script>
    <script type="text/javascript" th:src="@{/user/user-editormd/editormd.js}"></script>
    <script type="text/javascript" th:src="@{/commons/js/utils.js}"></script>
    <title>我的问答</title>
</head>
<body>
<header id='header'>
    <div id="headerbox">
        <img th:src="@{/user/image/article_head2.png}">
        <nav id='nav'>
            <ul>
                <li><a th:href="@{/user/homepage}">首页</a></li>
                <li><a href='#'>问答</a></li>
                <li><a href='#'>学习路线</a></li>
            </ul>
        </nav>
        <div id='user'>
            <img class="myProfile" id='imgone'>
            <div id='user_detail'>
                <div id='infoBox'>
                    <img class="myProfile">
                    <div id='user-info'>
                        <span class="loginUserNickname"></span>
                        <span id="experience"></span>
                    </div>
                </div>

                <div id='funcCard'>
                    <ul id='funcCardList'>
                        <li class='funcCardItems'>
                            <a th:href="@{/user/myAccount}">
                                <span class='iconfont icon-yonghu'></span>
                                <span>我的账号</span>
                            </a>
                        </li>
                        <li class='funcCardItems'>
                            <a href="#">
                                <span class='iconfont icon-wodeshoucang'></span>
                                <span>我的收藏</span>
                            </a>
                        </li>
                        <li class='funcCardItems'>
                            <a th:href="@{/user/myNote}">
                                <span class='iconfont icon-biji'></span>
                                <span>我的手记</span>
                            </a>
                        </li>
                        <li class='funcCardItems'>
                            <a th:href="@{/user/myQuestion}">
                                <span class='iconfont icon-wenda'></span>
                                <span>我的提问</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div id='quit'><a th:href="@{/user/logout}">退出</a></div>
            </div>
        </div>
    </div>
</header>

<div id='top'>
    <a href='javascript:;' id='write'>提问题</a>
    <div id='serchBar'>
        <input type='text' placeholder='java学习路线' id='serchText'>
        <a href='#' class='iconfont icon-3' id='serch'></a>
    </div>
    <a id="question-recycle-bin" class="iconfont icon-unie6a62" title="回收站"></a>
</div>

<div id='askingbg'>
    <div id='askbox'>
        <div id='write-quest'>
            <form id="question-form" th:action="@{/user/askQuestion}" method="POST">
                <div id='quest-title'>
                    <label id="question-label">问题：</label><span class="input-parent"><input type='text' placeholder='写下你遇到的问题' name='questionTitle'></span>
                    <select name='typeId' id='questType'>
                        <option value=1>前端开发</option>
                        <option value=2>后台开发</option>
                        <option value=3>移动端</option>
                        <option value=4>IOS</option>
                        <option value=5>大数据</option>
                        <option value=6>算法</option>
                        <option value=7>小程序</option>
                    </select>
                </div>
                <div class="editormd" id="quest-editormd">
                    <textarea class="editormd-markdown-textarea" name="questMarkdownDoc"></textarea>
                    <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
                    <textarea class="editormd-html-textarea" name="questContent"></textarea>
                </div>
                <div id='funcBar'>
                    <button type="submit" id="submitQuestion" class="func" href='#' title="提出问题">提交</button>
                    <a class="func" id='cancel' href='javascript:void(0);' title="取消本次编辑，已编辑内容将清除">取消</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div id='container'>
    <section id='questionSection'>

    </section>
</div>
<script type="text/javascript" th:src="@{/user/js/myQuestion.js}"></script>
<script type="text/javascript">
    $(function() {
        editormd("quest-editormd", {
            width   : 500,
            height  : 400,
            syncScrolling : "single",
            path    : "user-editormd/lib/",
            watch : false,
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/uploadpic",
            //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
            saveHTMLToTextarea : true,
            emoji : true,
            toc : true,
            taskList : true,
            toolbarIcons : function() {
                return ["undo","redo","|","quote","link","image","code","code-block","emoji","html-entities","|","fullscreen","clear"]
            },
            placeholder : "写下问题的详细描述"
        });
    });
</script>
</body>
</html>