<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" th:href="@{/user/image/question.png}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{/commons/font/aliicon/iconfont.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/questarticle-commons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/questarticle-different.css}">
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}"/>
    <script type="text/javascript" th:src="@{/commons/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/editormd/editormd.js}"></script>
    <script type="text/javascript" th:src="@{/user/js/questArticle.js}"></script>
    <title>欢迎来到FunnyCode</title>
</head>
<body>
    <header id='header'>
        <div id="headerbox">
            <img th:src="@{/user/image/article_head2.png}">
            <nav id='nav'>
                <ul>
                    <li><a href='home.html'>首页</a></li>
                    <li><a href='#'>问答</a></li>
                    <li><a href='#'>学习路线</a></li>
                </ul>
            </nav>
            <div id='user'>
                <img th:src="@{/user/image/profile/profile.jpg}" id='imgone'>
                <div id='user_detail'>
                    <div id='infoBox'>
                        <img th:src="@{/user/image/profile/profile.jpg}">
                        <div id='user-info'>
                            <span>高数</span>
                            <span>积分 9999</span>
                        </div>
                    </div>

                    <div id='funcCard'>
                        <ul id='funcCardList'>
                            <li class='funcCardItems'>
                                <a th:href="@{/user/myAccount(id=${session.loginUser})}">
                                    <span class='iconfont icon-yonghu'></span>
                                    <span>我的账号</span>
                                </a>
                            </li>
                            <li class='funcCardItems'>
                                <a href="#">
                                    <span class='iconfont icon-wodeshoucang'></span>
                                    <span>我的收藏</span>
                                </a>
                            </li>
                            <li class='funcCardItems'>
                                <a href="#">
                                    <span class='iconfont icon-biji'></span>
                                    <span>我的手记</span>
                                </a>
                            </li>
                            <li class='funcCardItems'>
                                <a href="#">
                                    <span class='iconfont icon-wenda'></span>
                                    <span>我的提问</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                    <div id='quit'><a th:href="@{/user/logout}">退出</a></div>
                </div>
            </div>
        </div>
    </header>

    <div id='top'>
        <a href='javascript:;' id='write'>提问题</a>    
        <div id='serchBar'>
            <input type='text' placeholder='java学习路线' id='serchText'>
            <a href='#' class='iconfont icon-3' id='serch'></a>
        </div>
    </div>

    <div id='askingbg'>
        <div id='askbox'>
            <div id='write-quest'>
                <div id='quest-title'>
                    <label>问题：</label><input type='text' placeholder='写下你遇到的问题' name=''>
                </div>
                <div class="editormd" id="test-editormd">
                    <textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc"></textarea>
                    <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
                    <textarea class="editormd-html-textarea" name="test-editormd-html-doc"></textarea>
                </div>
                <div id='funcBar'>
                    <a class="func" href='#' title="提出问题">提交</a>
                    <a class="func" id='cancel' href='javascript:;' title="取消本次编辑，已编辑内容将清除">取消</a>
                </div>
            </div>
        </div>
    </div>

    <div id='container'>
        <aside id='articleCata'>
            <ul>
                <li><a href='#'>人工智能</a></li>
                <li><a href='#'>区块链</a></li>
                <li><a href='#'>前端开发</a></li>
                <li><a href='#'>后端开发</a></li>
                <li><a href='#'>移动开发</a></li>
                <li><a href='#'>云计算</a></li>
                <li><a href='#'>大数据</a></li>
            </ul>
        </aside>

        <section id='noteSection'>
            <article class="article">
                <h2><a href='#'>Struts2的架构详解</a></h2>
                <p>Struts2的核心部分是拦截器模块</p>
                <div class='articleInfo'>
                    <a href="#"><span class='author'>CSDN</span></a>
                    <span class='content-type'>Java</span>
                    <time>2018-08-18</time>
                    <div class='readInfo'>
                        <span><a href='#'>回答</a>99</span>
                    </div>
                </div>
            </article>
            <article class="article">
                <h2><a href='#'>Struts2的架构详解</a></h2>
                <p>Struts2的核心部分是拦截器模块</p>
                <div class='articleInfo'>
                    <a href="#"><span class='author'>CSDN</span></a>
                    <span class='content-type'>Java</span>
                    <time>2018-08-18</time>
                    <div class='readInfo'>
                        <span><a href='#'>回答</a>99</span>
                    </div>
                </div>
            </article>
            <article class="article">
                <h2><a href='#'>Struts2的架构详解</a></h2>
                <p>Struts2的核心部分是拦截器模块</p>
                <div class='articleInfo'>
                    <a href="#"><span class='author'>CSDN</span></a>
                    <span class='content-type'>Java</span>
                    <time>2018-08-18</time>
                    <div class='readInfo'>
                        <span><a href='#'>回答</a>99</span>
                    </div>
                </div>
            </article>
            <article class="article">
                <h2><a href='#'>Struts2的架构详解</a></h2>
                <p>Struts2的核心部分是拦截器模块</p>
                <div class='articleInfo'>
                    <a href="#"><span class='author'>CSDN</span></a>
                    <span class='content-type'>Java</span>
                    <time>2018-08-18</time>
                    <div class='readInfo'>
                        <span><a href='#'>回答</a>99</span>
                    </div>
                </div>
            </article>
            <article class="article">
                <h2><a href='#'>Struts2的架构详解</a></h2>
                <p>Struts2的核心部分是拦截器模块</p>
                <div class='articleInfo'>
                    <a href="#"><span class='author'>CSDN</span></a>
                    <span class='content-type'>Java</span>
                    <time>2018-08-18</time>
                    <div class='readInfo'>
                        <span><a href='#'>回答</a>99</span>
                    </div>
                </div>
            </article>
            <article class="article" id='lastarticle'>
                <h2><a href='#'>Struts2的架构详解</a></h2>
                <p>Struts2的核心部分是拦截器模块</p>
                <div class='articleInfo'>
                    <a href="#"><span class='author'>CSDN</span></a>
                    <span class='content-type'>Java</span>
                    <time>2018-08-18</time>
                    <div class='readInfo'>
                        <span><a href='#'>回答</a>99</span>
                    </div>
                </div>
            </article>
        </section>

        <aside id='hotArticlle'>
            <div id='hotHeadline'>
                <h2>
                    <span class='iconfont icon-hand-point-right'></span>
                    <em>热</em><em>门</em><em>问</em><em>答</em>
                    <span class='iconfont icon-hand-point-left'></span>
                </h2>
            </div>
            <section id='hotSection'>
                <div class='hotLink'>
                    <span>1</span>
                    <a href='#' title='顺丰高级工程师误删数据库！'>顺丰高级工程师误删数据库！</a>
                </div>
                <div class='hotLink'>
                    <span>2</span>
                    <a href='#' title='ofo总部人去楼空？'>ofo总部人去楼空？</a>
                </div>
                <div class='hotLink'>
                    <span>3</span>
                    <a href='#' title='腾讯、网易、百度等获自动驾驶车辆路测资格'>腾讯、网易、百度等获自动驾驶车辆路测资格</a>
                </div>
                <div class='hotLink'>
                    <span>4</span>
                    <a href='#' title='荣耀将从华为独立？'>荣耀将从华为独立？</a>
                </div>
                <div class='hotLink'>
                    <span>5</span>
                    <a href='#' title='半数用户对新iphone满意'>半数用户对新iphone满意</a>
                </div>
                <div class='hotLink'>
                    <span>6</span>
                    <a href='#' title='facebook下周推智能家居'>facebook下周推智能家居</a>
                </div>
                <div class='hotLink'>
                    <span>7</span>
                    <a href='#' title='阿里安全宣布已完美越狱iOS 12'>阿里安全宣布已完美越狱iOS 12</a>
                </div>
                <div class='hotLink'>
                    <span>8</span>
                    <a href='#' title='11岁姑娘挑战8分钟编程获蚂蚁金服CEO井贤栋赞赏'>11岁姑娘挑战8分钟编程获蚂蚁金服CEO井贤栋赞赏</a>
                </div>
                <div class='hotLink'>
                    <span>9</span>
                    <a href='#' title='Linux之父宣布无限期休假'>Linux之父宣布无限期休假</a>
                </div>
                <div class='hotLink'>
                    <span>10</span>
                    <a href='#' title='微软废除了在其内部网络上仅使用IPv6的计划'>微软废除了在其内部网络上仅使用IPv6的计划</a>
                </div>
            </section>
        </aside>
    </div>

    <script type="text/javascript">
        $(function() {
            editormd("test-editormd", {
                width   : 500,
                height  : 400,
                syncScrolling : "single",
                path    : "../editormd/lib/",
                watch : false,
                imageUpload : true,
                imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : "/uploadpic",
                //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
                saveHTMLToTextarea : true,
                emoji : true,
                toc : true,                    
                taskList : true,
                toolbarIcons : function() {         
                    return ["undo","redo","|","quote","link","image","code","code-block","emoji","html-entities","|","fullscreen","clear"]
                },
                placeholder : "写下问题的详细描述"
            });
        });
    </script>

</body>
</html>