<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/commons/image/404.png}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{/commons/font/aliicon/iconfont.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/commons/css/403.css}">
    <title>NOT FOUND</title>
</head>
<body>
<div id="container">
    <div id="unauthc">
        <span id="unauthc-icon" class="iconfont icon-404"></span>
        <h2 id="deny-access">404 NOT FOUND</h2>
    </div>
</div>
</body>
</html>