html, body {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 4px;
    background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(196, 196, 196, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #555;
    font-size: 14px;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #555;
    font-size: 14px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #555;
    font-size: 14px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #555;
    font-size: 14px;
}

body {
    min-height: 630px;
    background-color: #7ed2ec;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 1);
    overflow: hidden;
}

#website-icon {
    position: relative;
    display: block;
    width: fit-content;
    line-height: 80px;
    padding-left: 30px;
    margin-top: 10px;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.icon-tubiaozhizuomobanyihuifu- {
    font-size: 40px;
    color: rgba(254, 216, 5, 1);
}

#website-icon em {
    font-size: 35px;
    font-style: normal;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#website-icon em em {
    /*color: rgba(254, 216, 5, 1);*/
    /*color: rgba(255, 132, 41, 1);*/
}

#login-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    padding-bottom: 10px;
    margin-top: -160px;
    margin-left: -150px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#login-headline {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: dotted 0.5px rgba(0, 0, 0, .3);
    font-size: 20px;
    font-weight: 600;
    color: #555;
    text-align: center;
}

#input-area {
    width: 100%;
    padding: 10px 40px;
}

.input-parent {
    display: block;
    position: relative;
}

.input {

    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin: 15px auto;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    outline: none;
    text-indent: 32px;
}

.input[type=text] {
    background: url("../../commons/image/user.png") no-repeat 8px;
}

.input[type=password] {
    background: url("../../commons/image/key.png") no-repeat 8px;
}

.other {
    display: inline-block;
    padding: 0 5px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: rgba(54, 58, 57, 1);
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.other input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

#forgot-pwd {
    float: right;
}

#login-btn {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    margin-top: 20px;
    border: none;
    border-radius: 17.5px;
    text-align: center;
    letter-spacing: 10px;
    text-indent: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(19, 168, 228, 1);
    cursor: pointer;
    outline: none;
}

#register {
    display: block;
    margin: 10px auto;
    width: 200px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: rgba(54, 58, 57, 1);
}

#clickto-register {
    text-decoration: none;
}

/*
弹出层通用样式
*/
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
}

#popup.show {
    visibility: visible;
    opacity: 1;
}

#popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 200;
    width: 320px;
    height: 350px;
    margin-top: -175px;
    margin-left: -160px;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    color: #888;
    text-align: center;
    cursor: pointer;
}

#close:hover {
    color: red;
}

#popup-content h2 {
    line-height: 40px;
    font-size: 18px;
    color: #555;
}

#reg-input-area {
    width: 100%;
}

.reg-input {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin: 15px auto;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    outline: none;
    text-indent: 32px;
    color: rgba(54, 58, 57, 1);
}

#adminname {
    background: url("../../commons/image/phone.png") no-repeat 8px;
}

#nickname {
    background: url("../../commons/image/user.png") no-repeat 8px;
}

#password {
    background: url("../../commons/image/key.png") no-repeat 8px;
}

/* 设置修改注册模块input内容文字的样式*/
.reg-input::-webkit-input-placeholder {
    color: #363a39;
    font-size: 14px;
}

.reg-input:-moz-placeholder {
    color: rgba(54, 58, 57, 1);
    font-size: 14px;
}

.reg-input::-moz-placeholder {
    color: rgba(54, 58, 57, 1);
    font-size: 14px;
}

input:-ms-input-placeholder {
    color: rgba(54, 58, 57, 1);
    font-size: 14px;
}

#vali-code {
    display: inline-block;
    width: 50%;
    margin: 0;
    background: url("../../commons/image/confirm.png") no-repeat 8px;
}

#send-vali-code {
    float: right;
    display: block;
    width: 50%;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: rgba(19, 168, 228, .7);
    text-align: center;
}

#send-vali-code:hover {
    color: rgba(19, 168, 228, 1);
}

#register-btn {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    margin-top: 30px;
    border: none;
    border-radius: 17.5px;
    text-align: center;
    letter-spacing: 10px;
    text-indent: 10px;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(235, 26, 48, .7);
    cursor: pointer;
    outline: none;
}

#register-btn:hover {
    background-color: rgba(235, 26, 48, 1);
}

#popup-bg {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
